.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a {
    background: none;
}

@media (min-width: 768px) {
    .padding-left-to-center-720 {
        padding-left: 0px;
    }
}

@media (min-width: 992px) {
    .padding-left-to-center-720 {
        padding-left: 110px; /* (940-720)/2 */
    }
}

@media (min-width: 1200px) {
    .padding-left-to-center-720 {
        padding-left: 210px; /* (1140-720)/2 */
    }
}

.progressTicker {
    animation-name: progressTicker;
    animation-duration: 500ms;
    animation-iteration-count: infinite;

    -webkit-animation-name: progressTicker;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
}

@keyframes progressTicker {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@-webkit-keyframes progressTicker {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 768px) {
    /* TODO:vgrechka Testimonials style for 768px */
}

@media (min-width: 992px) {
    #testimonials-window {
        width: 970px;
    }
    .testimonials-item {
        width: 485px;
    }
}

@media (min-width: 1200px) {
    #testimonials-window {
        width: 1170px;
    }
    .testimonials-item {
        width: 585px;
    }
}

#testimonials-window {
    overflow: hidden;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

#testimonials-strip {
    width: 10000px;
    margin-left: -0px;
}

.testimonials-item {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
}

#testimonials-right {
    cursor: pointer;
    color: #cfd8dc;
}

#testimonials-right:hover {
    color: #546e7a;
}


.aniMinimize {
    animation-name: aniMinimize;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes aniMinimize {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.25);
    }
}

.aniFadeIn {
    animation-name: aniFadeIn;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes aniFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.aniFadeOut {
    animation-name: aniFadeOut;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes aniFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.aniBlinkingFast {
    animation-name: aniBlinkingFast;
    animation-duration: 250ms;
    animation-iteration-count: infinite;
}

@keyframes aniBlinkingFast {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hoverPointerUnderline {
    cursor: pointer;
}

.hoverPointerUnderline:hover {
    cursor: pointer;
    text-decoration: underline;
}

.btn-default:focus {border-color: #ccc; outline-color: transparent;}
.btn-default:active {border-color: #ccc; outline-color: transparent;}
.btn-default:focus:active {border-color: #8c8c8c; outline-color: transparent;}

